<header>
  <div class="header-container">
    <!-- Logo à gauche -->
    <div class="logo">
      <h1>{{ title }}</h1>
    </div>

    <!-- Menu + Boutons à droite -->
    <nav>
      <ul class="menu">
        <li *ngFor="let item of menuItems">
          <a [routerLink]="item.link">{{ item.label }}</a>
        </li>
      </ul>
      <div class="auth-buttons">
        <ng-container *ngIf="isLoggedIn; else guestButtons">
          <button class="btn btn-profile" (click)="openProfile()">Profil</button>
          <button class="btn btn-logout" (click)="logout()">Se déconnecter</button>
        </ng-container>
        <ng-template #guestButtons>
          <button class="btn btn-login" (click)="setSignIn()">Se connecter</button>
          <button class="btn btn-signup" (click)="setSignUp()">S'inscrire</button>
        </ng-template>
      </div>
    </nav>
  </div>
</header>

