<div class="appointment-detail">
  <h2>Détail du Rendez-vous</h2>
  <div class="detail-card">
    <p><strong>Service :</strong> {{ appointment.service }}</p>
    <p><strong>Date :</strong> {{ appointment.date | date:'fullDate' }}</p>
    <p><strong>Heure :</strong> {{ appointment.time }}</p>
    <p><strong>Status :</strong> {{ appointment.status }}</p>
    <p><strong>Détails :</strong> {{ appointment.additionalDetails }}</p>
  </div>
  <div class="actions">
    <a routerLink="/client/appointments" class="btn-back">Retour à la liste</a>
    <a routerLink="/client/appointments/edit/{{ appointment.id }}" class="btn-edit">Modifier</a>
  </div>
</div>
